
.text-primario{
    color: #FF4747;
}

.bg-primario{
    background-color: #FF4747;
}

a{
    text-decoration: none;
}

.profile_pic{
    width: 133px;
    height: 133px;
}

#logo{
    width: 8%;
}

img {
    width: 100%;
    height: auto;
}

.p-2{
    margin: 10px 15px 0 15px;
}

.search-article{
    background-image: url("https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg");
    margin: 2rem;
    padding: 10rem;
}