
.text-primario{
    color: #FF4747;
}

.bg-primario{
    background-color: #FF4747;
}

a{
    text-decoration: none;
}

.profile_pic{
    width: 133px;
    height: 133px;
}

#logo{
    width: 8%;
}

img {
    width: 100%;
    height: auto;
}

.p-2{
    margin: 10px 15px 0 15px;
}