html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    width: 100%;
    position: relative;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

footer .social-icon:hover {
    transform: scale(1.2);
    opacity: 0.7;
}

small {
    text-align: center;
    display: block;
    margin-top: 10px;
}