/* .container {
    width: 100vh;
} */

#mensaje {
    display: none;
}

button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#msgEnviado  {
    display: none;
}

.login-form {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
}

.login-form .form-control {
    margin-bottom: 15px;
}

.login-form .btn {
    width: 100%;
}

.middle {
    min-height: 100vh; /* Hace que el contenedor ocupe toda la altura de la ventana gráfica */
}

@media (max-width: 576px) {
    .login-form {
        padding: 15px;
    }
}